<div class="early">
  <div class="early-cont">
    <div class="early__title">
      <h1>Wow! You're here early</h1>
    </div>
    <div class="early__desc">
      <div class="cross">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42.04 41.17"><defs><style>.cls-1{fill:currentColor;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="Group_42" data-name="Group 42"><g id="Line_41" data-name="Line 41"><polygon class="cls-1" points="42.04 19.11 42.04 22.11 22.08 22.11 22.08 41.17 19.08 41.17 19.08 22.11 0 22.11 0 19.11 19.08 19.11 19.08 0 22.08 0 22.08 19.11 42.04 19.11"></polygon></g></g></g></g></svg>
      </div>
      <div class="titles">THIS PAGE HASN'T BEEN PUBLISHED YET.</div>
      <p>I'm glad to see you are browsing my site, but this particular page is still in the makes. Come back at a later day.</p>
      <div class="about">
        <div class="scroll">
          <div class="container-scroll">
           <a href="#" routerLink="/menu" >menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu menu </a>
          </div>
         </div>
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" style="width:24px" viewBox="0 0 7314.44 2612.64"><defs></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="Group_73" data-name="Group 73"><polygon class="cls-1" points="7264.51 1306.32 7314.44 1306.32 6033.65 2612.64 5777.12 2356.12 6645.84 1487.39 0 1487.39 0 1125.24 6645.84 1125.24 5777.12 256.52 6033.65 0 7314.44 1306.32 7264.51 1306.32"></polygon></g></g></g>
          </svg>
        </span>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
