<div class="container">
  <div class="footer-holder">
    <div class="footer-section">
      <div class="title">Other pages:</div>
      <div class="list">
        <a href="">View the design process </a>
        <a href="">See my Lego steam </a>
      </div>
    </div>
    <div class="footer-section">
      <div class="title">Contact:</div>
      <div class="list">
        <a href="">valentinpetraru@gmail.com </a>
        <a href="">+39 3275742282 </a>
      </div>
    </div>
    <div class="footer-section">
      <div class="title">Social</div>
      <div class="list">
        <a href="">@linkedin</a>
        <a href="">@instagram</a>
      </div>
    </div>
  </div>
</div>
