




.menu{
  position: fixed;
  top: 35px;
  right: 35px;
  font-size: 16px;
  cursor: pointer;
}


.anno{
  position: fixed;
  left: 35px;
  bottom: 35px;
  cursor: pointer;
}

.data{
  position: fixed;
  left: 35px;
  top: 35px;
  cursor: pointer;
  font-size: 16px;
}


.title{
  width: 80%;
  font-size: 6vw;
  font-family: font3;
  line-height: 1.15;
  opacity: 0.9;
  letter-spacing: 2px;
  padding-top: 38px;
  padding-left: 25px;
}

.container
{
  width: 100%;
  padding: 58px;
}

.description{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 62px;



  &__title{
    font-size: 1.72em;
    font-weight: 400;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }

  &__text{
    font-size: 14px;
    opacity: 0.8;
    line-height: 1.45;
    font-weight: 400;
    padding-top: 14px;
  }
}

.content{
  max-width: 370px;
  margin-right: 50px;
  position: relative;
}

.presentation{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 270px;
  &__top{
    &--title{
      font-family: font3;
      font-size: 6.111vw;
      line-height: 1.25;
      margin-bottom: 40px;
    }
  }

  &__down{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
}


.right
{
  display: flex;
  gap: 10px;
  padding-right: 40px;
}


.pres
{
  display: flex;
  flex-direction: column;
  gap: 100px;
}


