<div class="grained-effect">
  <div id="grained" class="grained _0" style="position: relative; overflow: hidden;"></div>
  <div id="grained" class="grained"></div>
  <app-section-future></app-section-future>
  <app-presentation
  [pAnno]="pAnno"
  [pAuth]="pAuth"
  [pDescription]="pDescription"
  [pLocation]="pLocation"
  [pQuote]="pQuote"
  [pTitle]="pTitle"
  [quote]="quote"
  ></app-presentation>

  <app-presentation
  [pAnno]="ppAnno"
  [pAuth]="ppAuth"
  [pDescription]="ppDescription"
  [pLocation]="ppLocation"
  [pQuote]="ppQuote"
  [pTitle]="ppTitle"
  [quote]="quote"
  ></app-presentation>
  <app-chatting></app-chatting>
  <p class="data">{{ora}}</p>
<p class="menu">MENU</p>
<p  class="anno">©2023</p>
</div>

