<div class="sec-container">
  <div class="container">
    <div class="sections">
      <app-cross></app-cross>
      <div class="sec past">
    <div
    >CHARACTERISTICS</div>
      </div>
      <div class="sec present">
    <p>I would describe myself as a pretty chill person. I like to laugh and I have a friendly nature. I enjoy the adrenalin rush of extreme sports, and I'm always up for an adventure.</p>
      </div>
      <div class="sec future">
        <p>Yet, I also spend countless hours quietly working away on my projects. I'm highly motivated and very, very ambitious. I strive to do the best I can, where I can.</p>
      </div>
    </div>
  </div>
</div>


