.presentation{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 70px;
  &__top{
    &--title{
      font-family: font3;
      font-size: 6.111vw;
      line-height: 1.25;
      margin-bottom: 40px;
    }
  }

  &__down{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
}

.container{
  width: 80%;
}


.right
{
  display: flex;
  gap: 10px;
  padding-right: 40px;
}
