<div class="chatting">
  <div class="container">
    <div class="chatting__top">
      <h2 class="chatting__top--title">My Hobbies and Interests</h2>
    </div>
    <div class="chatting__down">
      <div class="chatting__down--purpose">
        <app-cross></app-cross>
        <div>SEE HOW MY HOBBYS AND INTERESTS INFLUENCED MY DESIGN SKILLS</div>
      </div>
      <div class="chatting__down--redirect">
<p>I know you're probably here for design stuff, but you might be surprised how much of that originates out of my other passions and interests.</p>

      </div>
    </div>
  </div>
</div>
