<div class="grained-effect">
  <div id="grained" class="grained _0" style="position: relative; overflow: hidden;"></div>
  <div id="grained" class="grained"></div>
  <div class="container">
    <div class="title">I help businesses reach their goals by making beautiful websites, logos and other visuals...</div>
    <div class="description">

      <div class="content">
        <div class="croce">
          <app-cross></app-cross>
        </div>
        <div class="description__title">HELLO, I'M PHILIP REMPEL</div>
        <div class="description__text">I'm a Canadian visual brand identity designer currently based in Germany</div>
      </div>

    </div>
    <app-presentation></app-presentation>
    <app-section-future></app-section-future>
    <app-footer></app-footer>
  </div>
  <p class="data">19:35</p>
<p class="menu">MENU</p>
<p  class="anno">2022</p>
</div>
