<div class="error">
  <h1>404</h1>
  <div class="no">OOH NOO... YOU'RE LOST!</div>
  <p>Looks like this page has been stolen, swallowed, flipped upside down, or lost in the endless void of the internet.</p>

  <div class="about">
    <div class="scroll">
      <div class="container-scroll">
       <a href="#" routerLink="" > RETURN HOME RETURN HOME RETURN HOME RETURN HOME RETURN HOME RETURN HOME RETURN HOME RETURN HOME RETURN HOME RETURN HOME RETURN HOME RETURN HOME RETURN HOME RETURN HOME RETURN HOME RETURN HOME RETURN HOME </a>
      </div>
     </div>
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7314.44 2612.64"><defs></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="Group_73" data-name="Group 73"><polygon class="cls-1" points="7264.51 1306.32 7314.44 1306.32 6033.65 2612.64 5777.12 2356.12 6645.84 1487.39 0 1487.39 0 1125.24 6645.84 1125.24 5777.12 256.52 6033.65 0 7314.44 1306.32 7264.51 1306.32"></polygon></g></g></g>
      </svg>
    </span>
  </div>
</div>
