.quote{
  max-width: 250px;
  position: relative;

  &__description{
    font-size: 1.1em;
    text-align: left;
    line-height: 1.36;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__author{
    margin-bottom: 1em;
    opacity: 0.8;
    font-size: 1.04em;
    line-height: 1.45;
  }
}
