<div class="future">
<div class="container">
  <div class="chatting__top">
    <h2 class="chatting__top--title">Past, Present, Future</h2>
  </div>
  <div class="sections">
    <app-cross></app-cross>
    <div class="sec past">
 <div
 >HOW IT ALL BEGAN</div>
    </div>
    <div class="sec present">
 <p>I've always been a very creative person. Ever since I can remember I've been building Lego, drawing, or crafting one thing or another.</p>
    </div>
    <div class="sec future">
      <p>This then lead to me being very interested in graphic design. When I was 12 years old, I designed my first logo. Ever since then, I've spent a lot of my time doing design work.</p>
    </div>
  </div>
  <div class="sections">
    <app-cross></app-cross>
    <div class="sec past">
 <div
 >MY LIFE RIGHT NOW</div>
    </div>
    <div class="sec present">
 <p>Right now I live in Hamburg where I visit a high school in 9th grade. That's why I don't have much time that isn't filled with home work</p>
    </div>
    <div class="sec future">
      <p>All the time I have left, I try to spend working on my passions.</p>
    </div>
  </div>
  <div class="sections">
    <app-cross></app-cross>
    <div class="sec past">
 <div
 >PLANS AND DREAMS</div>
    </div>
    <div class="sec present">
 <p>I have big plans and even bigger dreams. Eventually I want to make a name for myself, not only in the design industry but also in the various other fields I intend to branch out to.</p>
    </div>
    <div class="sec future">
      <p>You might say I have quite a lot on my plate. It's true, that's why I've already started.</p>
    </div>
  </div>
</div>
</div>
