.future{
  width: 100%;
  display: flex;
  justify-content: center;
}

.container{
  width: 80%;
  padding: 56px;
}

.sections{
  display: flex;
  position: relative;
  margin-bottom: 40px;
  margin-top: 40px;
}


.sec{
  width: 33.333333%;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

.present, .future
{
  opacity: 0.8;

}

p
{text-align: left;
width: 90%;
font-size: 1.04em;
    line-height: 1.45;
    margin-bottom: 1em;
}


.past
{
  font-size: 1.72em;
    line-height: 1.36;
    font-weight: 400;
    letter-spacing: -0.01em;
}

.chatting{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 55px;

  &__top{
    &--title{
      font-family: font3;
      font-size: 6.111vw;
      line-height: 1.25;
      margin-bottom: 40px;
    }
  }
}
