/* You can add global styles to this file, and also import other style files */
*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: font1;
}



::-webkit-scrollbar {
    width: 7px;
}


::-webkit-scrollbar-thumb {
    background: rgb(182, 166, 141);
    border-color: rgb(35, 35, 35);
}

::-webkit-scrollbar-track {
    background: rgb(35, 35, 35);
}


body {
  background-color: #1b1b1b;
  color: #c7b59a;
  font-size: 15px;
  height: 5000px;
}


@font-face {
  font-family: font1;
  src: url('../src/assets/font1.woff2');
}
