.title{
  width: 80%;
  font-size: 6vw;
  font-family: font3;
  line-height: 1.15;
  opacity: 0.9;
  letter-spacing: 2px;
  padding-top: 38px;
  padding-left: 25px;
}

.container
{
  width: 100%;
  padding: 58px;
  padding-bottom: 0px;
}

.description{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 62px;



  &__title{
    font-size: 1.72em;
    font-weight: 400;
    letter-spacing: -0.01em;
    text-transform: uppercase;
  }

  &__text{
    font-size: 14px;
    opacity: 0.8;
    line-height: 1.45;
    font-weight: 400;
    padding-top: 14px;
  }
}

.content{
  max-width: 370px;
  margin-right: 50px;
  position: relative;
}

