  <div class="container">
    <div class="title">I help businesses reach their goals by making beautiful websites, logos and other visuals...</div>
    <div class="description">

      <div class="content">
        <div class="croce">
          <app-cross></app-cross>
        </div>
        <div class="description__title">HELLO, I'M PHILIP REMPEL</div>
        <div class="description__text">I'm a Canadian visual brand identity designer currently based in Germany</div>
      </div>

    </div>

    <app-presentation></app-presentation>
    <app-chatting></app-chatting>

  </div>
